.card-dashboard{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 16px;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
}
.title-card-dashboard{
    margin-top: 5%;
}
.value-card-dashboard{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.container-button{
    position: relative;
    bottom: 10px;
    right: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    
}
.details-card-dashboard{
    border: none;
    border-radius: 2rem;
    width: 100px;
    height: 2rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
    cursor: pointer;
    
}
