/* App.css */
.menu-hamburguer {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.barra {
    height: 4px;
    background-color: white;
    width: 100%;
    border-radius: 2px;
}

.menu-opcoes {
    display: none;
    flex-direction: column;
    /* background-color: #f0f0f0; */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.menu-opcoes.ativo {
    display: flex;
}

.menu-opcoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-opcoes li {
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.253);
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.menu-opcoes div{
    
    display: flex;
    justify-content: baseline;
}
.menu-opcoes a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.menu-opcoes a:hover {
    text-decoration: underline;
}
