.forms{
    display: flex;
    flex-direction: row;
}
.select-cargo{
    border: none;
    border-bottom: 1.5px solid;
    width: 350px;
    height: 41px;
    outline: none;
}

.input-floating {
    position: relative;
    width: 350px;
    margin: 10px 0px;
}

.input-floating input {
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1.5px solid #0e0d0d;
    outline: none;
    transition: all 0.3s ease;
}

.input-floating label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #3d3c3c;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-floating input:focus {
    border-bottom-color: #007BFF;
}

.input-floating input:focus + label,
.input-floating input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #007BFF;
}
.iconPassword{
    position: absolute;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.title-login{
    padding-bottom: 50px;
}
.loginPage{
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 150px 200px;
}

.img_login{
    background-image: url("../../assets/image/imagem_login.jpg");
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 100vh;
}
.button-login{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: #3292FF;
    color: #ffffff;
    border: none;
    margin: 15px 0px;
}
.esqueceu-senha{
    margin: 20px 0px;
    /* text-decoration: none; */
    color: #0e0d0d;
}