*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
   
}

.cadastrar{
    text-align: center;
    
}
.cadastrar a{
    text-decoration: none;
    color: #327AFF;
}
.container-register{
    display: flex;
}
.container-child{
    width: 50%;
}
.forms-pai{
    display: flex;
    flex-direction: column;
    margin: 150px 100px;
}
.registrePage h1{
    position: absolute;
    margin-bottom: 30px;
}
.registrePage{
    display: flex;
    padding-right: 10px;
}
.enviar-cadastro p{
    width: 300px;
    margin: 50px 50px;

}
.enviar-cadastro{
    
    margin: 30% 190px;

}


.forms-1{
    margin-top: 100px;
    padding-right:5%;
}
.forms-2{
    margin-top: 100px;

}
.forms-1 div{
    padding-top: 6%;
}
.forms-2 div{
    padding-top: 6%;
}

.img_cadastro{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
