.slide-item{
    width: 50%;
    height: 350px;
    object-fit: cover;
}
.ancora{
    padding: 0px 20px; 
    text-decoration: none;
    
}

.teste{
    padding-top: 15px;
    text-align: right;
}

.complemento{
    margin-top: 5px;
    background-color: #ECECEC;
    display: flex;
    width: 100%;
    height: 564px;
    
}
.cabecalho{
    background-color: #ffffff  ;
    padding-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
}
.text-pai{
    width: 50%;
}
.titulo{
    padding-bottom: 20px;
}
.text{
    width: 500px;
    margin-top: 200px;
    margin-left: 100px;
    text-align: justify;

}
.style-button{
background-color: #3292FF;
border: none;
width: 150px;
height: 35px;
border-radius: 15px;
color: white;
margin-top: 30px;
}
.style-button:hover{
    background-color: #2d7ad1;
    cursor: pointer;
}
.carousel{
    width: 50% !important;
    text-align: center;
    margin-top: 100px;
    margin-right: 30px;
    
}
.centralizar-title{
    text-align: center;
    margin: 50px 200px;
    width: 1500px;
}
.paragrafo-somos{
    
    margin-top: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 140px;
    margin: 0px 200px;
}
.imagem-container img{
    width: 700px;
    height: 300px;
    overflow: hidden;
}
.grafico-container img{
    width: 700px;
    height: 300px;
    overflow: hidden;
}
.title-1{
    margin: 20px 200px;
}
.title-2{
    margin: 20px 200px;
}
.dashboard{
    width: 1700px;
    height: 900px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: 100px;
}

.card{
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: white;
    margin-left: 90px;
    margin-top: 60px;
    border-radius: 10px;
}
.card2{
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: white;
    margin-left: 750px;
    margin-top: 60px;
    border-radius: 10px;
}
.card3{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: 1410px;
    margin-top: 60px;
    border-radius: 10px;
}
.card4{
    position: absolute;
    width: 500px;
    height: 450px;
    background-color: white;
    margin-left: 90px;
    margin-top: 340px;
    border-radius: 10px;
}
.card5{
    position: absolute;
    width: 500px;
    height: 450px;
    background-color: white;
    margin-left: 750px;
    margin-top: 340px;
    border-radius: 10px;
}
.card6{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: 1410px;
    margin-top: 340px;
    border-radius: 10px;
}
.card7{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: 1410px;
    margin-top: 590px;
    border-radius: 10px;
}


.rodape{
    background-color: #D9D9D9;
    width: 100%;
    height: 300px;
    margin-top: 150px;
}
.subtitles-footer{
    display: flex;
    flex-direction: row;
    gap: 1000px;
    margin-left: 300px;
    padding-top: 30px;
}
.parceiros{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 1300px;
}
.father-parceiro{
    display: flex;
    flex-direction: row;
}
.parceiro-bloco{
    width: 100px;
    height: 60px;
    background-color: #848484;
    margin: 20px 20px;
}
.redes-sociais{
    display: flex;
    flex-direction: row;
}
.redes-colection{
    display: flex;
    flex-direction: row;
    margin: 30px 200px;
    gap: 80px;
}
.redes{
    text-align: center;
}
.redes p{
    padding-top: 30px;
}